.adminMain {
  position: relative;
  margin-left: 330px;
  margin-right: 130px;
  border-right: 1px solid #E6ECF0;
  border-left: 1px solid #E6ECF0;
  height: 100vh;

  .title {
    border-bottom: 1px solid #E6ECF0;

    h4 {
      font-weight: 700;
      margin: 0px 0px 24px 30px;
    }
  }

  .tweetList {
    position: absolute;
    top: 61px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll
  }

  .scrollbar {
    // 整體的樣式
    &::-webkit-scrollbar {
      width: 6px;
    }
    // bar的樣式
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}