.settingPage {
  margin-left: 330px;
  width: 640px;
  border-right: 1px solid #e6ecf0;
  border-left: 1px solid #e6ecf0;

  .title {
    display: flex;
    align-items: center;

    border-bottom: 1px solid #e6ecf0;

    h4 {
      font-weight: 700;
      margin-left: 24px;
    }
  }

  .account,
  .userName,
  .email,
  .password,
  .passwordCheck {
    width: 594px;
    margin: 24px;
  }

  .saveButton {
    width: 88px;
    height: 46px;
    margin-left: 528px;

    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;

    background: #FF6600;
    border-radius: 50px;

    &:hover {
      cursor: pointer;
    }
  }
}