.logo {
  margin: 0;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-image: url(../../image/icons/logo.svg);
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  margin: 13px 0 15px 14px;
}

.sidebar {
  max-width: 387px;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  z-index: 10;
}

.sidebarWrap {
  // width: 13vw;
  // padding: 0 0 0 9vw;
  width: 178px;
  padding: 0 0 0 130px;
  position: relative;
  height: 100vh;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar ul li {
  transition: .5s;
  list-style: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #1C1C1C;


  &:nth-child(1) {
    .navLink {
      &::before {
        background-image: url('../../image/icons/home.svg');
      }

      &:hover,
      &.active {
        &::before {
          background-image: url('../../image/icons/home_active.svg');
        }
      }
    }
  }

  &:nth-child(2) {
    .navLink {
      &::before {
        background-image: url('../../image/icons/user.svg');
      }

      &:hover,
      &.active {
        &::before {
          background-image: url('../../image/icons/user_active.svg');
        }
      }
    }
  }

  &:nth-child(3) {
    .navLink {
      &::before {
        background-image: url('../../image/icons/setting.svg');
      }

      &:hover,
      &.active {
        &::before {
          background-image: url('../../image/icons/setting_active.svg');
        }
      }
    }
  }

  &:nth-child(4) {
    .navLink {
      &::before {
        background-image: url('../../image/icons/logout.svg');
      }

      &:hover,
      &.active {}
    }
  }
}

.navLink {

  &:hover,
  &.active {
    opacity: 0.8;
    color: #FF6600;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 15px;
  }
}



.navLink,
.btnLogout {
  text-decoration: none;
  display: block;
  color: #1C1C1C;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 20px 17px;
  display: flex;
  align-items: center;
}

.btn {
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFF;
  border: 1px solid #FF6600;
  border-radius: 100px;
  padding: 8px;
  align-self: center;
  width: 100%;
  background: #FF6600;
  margin: 15px 0;
}

.logout {
  position: absolute;
  bottom: 17px;
  // left: 0;
}

@media screen and(max-width: 1400px) {
  .sidebarWrap {
    width: 160px;
    padding: 0 0 0 8vw;
  }

}