section.popular {
  background-color: #F5F8FA;
  width: 20vw;
  border-radius: 14px;
  position: fixed;
  top: 16px;
  right: 130px;
}

.h2 {
  margin: 0;
  padding: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  color: #171725;
}

.avatar {
  padding: 10px;
}

.avatar>img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}

ul.popularList {
  margin: 0;
  padding: 0;
  height: calc(100vh - 120px);
  overflow: scroll;
  border-radius: 0 0 14px 14px;

  li {
    display: flex;
    justify-content: space-between;
    border-top: 1px #E6ECF0 solid;
    padding: 0px 15px;
  }

  .info {
    display: flex;
    align-items: center;
  }

  .name,
  .account {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
  }

  .name {
    color: #1C1C1C;
  }

  .account {
    color: #657786;
  }

}

/* button共用樣式 */
button {
  border: none;
  background: none;
}

.btn {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FF6600;
  border: 1px solid #FF6600;
  border-radius: 100px;
  padding: 8px 16px;
  align-self: center;

  &.active {
    color: #FFF;
    background: #FF6600;
  }
}

.none {
  display: none;
}